html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}
.container {
    width: 1180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.font-bigger {
    font-size: 21px;
    font-weight: 400; 
    line-height: 1.5;
}
p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.font-smaller {
    font-size: 16px;
    line-height: 1.5;
}
.btn {
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    background: #540CFA;
    box-shadow: rgba(60, 9, 179, 0.3) 0 2px 4px 0;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
/* nav menu */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 14px;
    height: 50px;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 18px;
}
.navbar .logo span {
    color: #540CFA;
}
.navbar-menu {
    display: flex;
    flex-grow: 1;
}
.navbar-menu .navbar-item {
    margin: 0 29px;
}
.navbar-menu > .navbar-item:first-child {
    margin-left: auto;
}
.navbar-menu > .navbar-item:nth-child(3) {
    margin-right: auto;
}
.navbar-actions {
    display: flex;
    align-items: center;
}
.navbar-actions .navbar-item {
    margin: 0 15px;
}
.navbar-actions .navbar-item:last-child {
    margin: 0;
}
.navbar-item .btn {
    padding: 8px 16px;
    font-size: 14px;
}
.navbar-btn {
    display: none;
}

/* intro section */
.intro-section {
    margin-top: 185px;
    overflow: hidden;
    padding-bottom: 50px;
}
.intro-square {
    width: 300px;
    height: 300px;
    background: linear-gradient(-135deg, #32FBFC, #3214F2 );
    border-radius: 40px;
    opacity: .9;
    position: absolute;
    right: 100%;
    top: 300px;
    transform: translateX(40%) rotate(-45deg);
    transform-origin: bottom right;
    z-index:-1;
}
.intro-square-orange {
    width: 600px;
    height: 600px;
    background: linear-gradient(#F2C314, #FC3832 );
    left: 100%;
    transform: translateX(-28%) rotate(-20deg);
    transform-origin: bottom left;
    top: -170px;
    z-index: -2;
}
.intro-square-purple {
    width: 600px;
    height: 600px;
    background: linear-gradient(#9C09DB, #1C0FD7 );
    left: 100%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    z-index: -1;
    top: -140px;
}
.intro-info {
    float: left;
    width: 60%;
}
.intro-section h1 {
    font-size: 70px;
    margin-bottom: 20px;
}
.intro-section .font-bigger {
    width: 82%;
    margin-bottom: 30px;
}
.intro-info .font-icon {
    font-weight: lighter;
    opacity: 0.3;
    font-size: 12px;
}
.email-wrapper {
    max-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 12px 0, rgba(0, 0, 0, 0.5) 0 1px 2px 0;
    display: flex;
    border-radius: 4px;
    margin-bottom: 130px;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}
.email-input {
    flex-grow: 0.8;
    padding: 10px;
}
.email-input label {
    display: block;
    width: 100%;
    color: #540CFA;
    font-size: 12px;
}
.email-input input {
    border: none;
    outline: none;
    width: 100%;
}
.email-input input::placeholder {
    opacity: 0.3;
}
.email-wrapper input {
    border-radius: 0;
}
.intro-img {
    float: left;
    width: 40%;
}
.intro-img img {
    max-width: 100%;
}
.compatible-icons {
    display: flex;
    justify-content: space-between;
    width: 421px;
    opacity: .3;
}
.compatible-icons svg path,
.compatible-icons svg g {
    fill: gray;
}

/* features-section */
.features-section {
    text-align: center;
}
.features-info h2 {
    font-size: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    margin-bottom: 20px;
}
.features-info p {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.customized-items {
    display: flex;
    justify-content: space-between;
}
.customized-items h4 {
    font-size: 18px;
}
.customized-items p {
    opacity: 0.7;
    max-width: 300px;
}
.customized-item-icon {
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-more {
    color: #540CFA;
}
.customized-item-machine-learning .customized-item-icon {
    background: linear-gradient(135deg, #F2C314,#FC3832);
}
.customized-item-automated-tracking .customized-item-icon {
    background: linear-gradient(135deg, #9C09DB,#1C0FD7);
}
.customized-item-smart-notifications .customized-item-icon {
    background: linear-gradient(135deg, #32FBFC,#3214F2);
}
.movie-slides {
    display: flex;
    padding: 140px 0;
}

/* interface section */
.interface-intro h2 {
    font-size: 46px;
    font-weight: 400;
    max-width: 460px;
    line-height: 1;
}
.interface-intro p {
    max-width: 460px;
    margin-bottom: 57px;
}
.interface-intro-btn {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 17px;
    max-width: 340px;
    opacity: 0.5;
    transition: all .2s ease-in-out;
    border-radius: 4px;
    font-size: 16px;
}

.interface-intro-btn svg {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.interface-intro-btn:hover {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}
.interface-intro {
    float: left;
    width: 42%;
    margin-right:9%
}
.interface-img {
    float: left;
    width: 49%;
    position: relative;
}
.interface-img-iphone {
    position: relative;
    z-index: 2;
    left: 0;
    margin-top: 100px;
}
.interface-img-web {
    position: absolute;
    top: -48px;
    left: 88px;
    z-index: 1;
}
.interface-section {
    overflow: hidden;
    padding-bottom: 100px;
}

/* community */
.community-section {
    color: white;
    background-image: url(testimonials.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: 725px;
}
.community-intro {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 460px;
}
.community-intro h2 {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.08;
}
/* get started */
.get-started-section {
    padding: 125px 0;
}
.get-started-section h2 {
    font-size: 60px;
    font-weight: 400;
    max-width: 606px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.get-started-section p {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.get-started-section .email-wrapper {
    margin: 0 auto;
}

/* footer */

.social {
    max-width: 130px;
    margin: 0 auto;
}
.social a {
    margin: 10px;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
}
.social a:hover {
    opacity: 0.5;
}
.footer {
    padding: 40px;
}

/* for phone */
@media screen and (max-width: 785px) {
    /* intro-section */
    .navbar-menu {
        position: fixed;
        right: 0;
        top: 50px;
        height: 50%;
        background: white;
        width: 260px;
        flex-direction: column;
        transition: all .3s ease-in-out;
        transform: translateX(100%);
    }

    .navbar-menu.is-open {
        transform: translateX(0%);
        transition: all .3s ease-in-out;
        padding-top: 10px;
        line-height: 2.5;
    }

    .navbar-menu > .navbar-item:first-child {
        margin-left: 29px;
    }

    .navbar-actions {
        display: block;
    }
    
    .navbar-actions .navbar-item {
        margin: 0 29px;
        font-size: 15px;
    }
    
    .navbar-actions .navbar-item:last-child {
        margin: 0 29px;
    }

    #navbar-btn {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        background: #540CFA;
        box-shadow: rgba(60, 9, 179, 0.3) 0 2px 4px 0;
        border-radius: 4px;
        color: white;
        border: none;
    }

    .navbar .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .intro-section {
        margin-top: 100px;
        padding-bottom: 0;
    }

    .intro-img {
        display: none;
    }

    .intro-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 100px);
    }

    .intro-section h1 {
        font-size: 45px;
    }

    .intro-section .font-bigger {
        width: 100%;
    }

    .font-bigger {
        font-size: 18px;
    }

    .email-wrapper {
        margin-bottom: 65px;
    }

    .email-wrapper .btn {
        padding: 12px 9px;
        border-radius: 4px;
        font-size: 16px;
    }

    .compatible-icons svg {
        transform: scale(0.8);
    }

    .compatible-icons {
        width: 325px;
        align-items: center;
        margin-bottom: 40px;
    }

    .intro-square {
        width: 150px;
        height: 150px;
    }

    .intro-square-orange {
        width: 400px;
        height: 400px;
    }

    .intro-square-purple {
        width: 400px;
        height: 400px;
    }

    .intro-info .font-icon {
        margin-top: auto;
    }

    /* features-section */
    .features-info h2 {
        font-size: 35px;
    }

    .customized-items {
        flex-direction: column;
        min-height: 670px;
    }

    .features-info p {
        margin-bottom: 50px;
    }

    .movie-slides {
        padding: 60px 0;
    }

    /* interface-section */
    .interface-section {
        padding-bottom: 0px;
    }

    .interface-intro {
        width: 100%;
    }
    .interface-section .container {
        margin-top: -25px;
    }

    .interface-intro h2 {
        font-size: 35px;
        line-height: 1.25;
    }

    .interface-intro p {
        margin-bottom: 30px;
    }

    .interface-img {
        margin-top: 60px;
        float: right;
        width: 100%;
    }

    .customized-items p {
        margin-right: auto;
        margin-left: auto;
    }

    .interface-img-web {
        left: 0px;
    }

    .interface-img-iphone {
        left: 45%;
    }

    /* community-section */
    .community-intro {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .community-intro h2 {
        font-size: 35px;
        margin-top: 0;
    }

    /* get-started-section */
    .get-started-section {
        padding: 100px 0;
    }

    .get-started-section h2 {
        font-size: 40px;
    }

    .footer {
        padding: 30px;
    }
}